<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="stylesheet" href="ccs/normalize.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https:/ /cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="ccs/styles.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header-top-bar">
            <div><img src="/img/images/logo-mercado-liebre.svg" width="100%" class="logo"></div>
            <h2 class="copy-header"><i class="fa-sharp fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de crédito
            </h2>
                <div class="buscar">
                    <input type="text" placeholder="Buscar productos, marcas">
                    <div class ="btn">
                        <i class="fa-solid fa-magnifying-glass"></i>
                </div>
        </nav>   
        
        <nav class="main-navbar">
                <ul class="left-navbar">
                    <li>
                       <a href="#">Ofertas</a></li>
                    <li>
                        <a href="#">Tiendas Oficiales</a></li>
                    <li>
                        <a href="#">Vender</a></li>
                    <li>
                        <a href="#">Ayuda</a></li>
                </ul>
                <ul class="right-navbar">
                    <li>
                        <a href="registro.html"></a></li>Crea tu cuenta <i class="fa-solid fa-address-card"></i>
                    <li>
                        <a href="#"></a></li>Ingresá <i class="fa-solid fa-right-to-bracket"></i>
                    <li>
                        <a href="#"></a></li>Mis compras <i class="fa-solid fa-basket-shopping"></i>
                </ul>
            </nav>
            <a href="#" class="hamburguer-button">
                <i class="fas fa-bars"></i>
            </a>

    </header>
    
    <main>
        <section class="main">
            <h2 class="titulos">Basado en tu última visita</h2>
            <article class="article">
                <div><img src="/img/images/img-cafetera-moulinex.jpg" class="articulos"></div>
                <i class="fa-solid fa-truck"></i>
                <p class="precios">$6.770</p>
                <p class="descuentos">40% OFF</p>
                <p class="descripcion">Cafetera Moulinex</p>

            </article>
            <article>
                <div><img src="/img/images/img-macbook-pro-2019.jpg" class="articulos"></div>
                <i class="fa-solid fa-truck"></i>
                <p class="precios">$230.000</p>
                <p class="descuentos">20% OFF</p>
                <p class="descripcion">MacBook Pro 2019</p>
            </article>
            <article>
                <div><img src="/img/images/img-samsung-galaxy-s10.jpg" class="articulos"></div>
                <i class="fa-solid fa-truck"></i>
                <p class="precios">$70.500</p>
                <p class="descuentos">10% OFF</p>
                <p class="descripcion">Samsung Galaxy S10</p>
            </article>
            <article>
                <div><img src="/img/images/img-tv-samsung-smart.jpg" class="articulos"></div>
                <i class="fa-solid fa-truck"></i>
                <p class="precios">$23.200</p>
                <p class="descuentos">5% OFF</p>
                <p class="descripcion">SmartTv Samsung 43"</p>
            </article>
        </section>
        <section class="main">
            <h2 class="titulos">Ofertas</h2>
            <article class="articulos">
                <div><img src="/img/images/img-cafetera-moulinex.jpg" class="articulos"></div>
                <i class="fa-solid fa-truck"></i>
                <p class="precios">$6.770</p>
                <p class="descuentos">40% OFF</p>
                <p class="descripcion">Cafetera Moulinex</p>
            </article>
            <article>
                <div><img src="/img/images/img-macbook-pro-2019.jpg" class="articulos"></div>
                <i class="fa-solid fa-truck"></i>
                <p class="precios">$230.000</p>
                <p class="descuentos">20% OFF</p>
                <p class="descripcion">MacBook Pro 2019</p>
            </article>
            <article>
                <div><img src="/img/images/img-samsung-galaxy-s10.jpg" class="articulos"></div>
                <i class="fa-solid fa-truck"></i>
                <p class="precios">$70.500</p>
                <p class="descuentos">10% OFF</p>
                <p class="descripcion">Samsung Galaxy S10</p>
            </article>
            <article>
                <div><img src="/img/images/img-tv-samsung-smart.jpg" class="articulos"></div>
                <i class="fa-solid fa-truck"></i>
                <p class="precios">$23.200</p>
                <p class="descuentos">5% OFF</p>
                <p class="descripcion">SmartTv Samsung 43"</p>
            </article>
        </section>
        
    </main>

    <footer class="footer">
        <section>
            <i class="fa-solid fa-credit-card"></i>
            <h2>Pagá con tarjeta o efectivo</h2>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fa-solid fa-gift"></i>
            <h2>Envío gratis desde $ 2.500</h2>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fa-solid fa-user-shield"></i>
            <h2>Seguridad, de principio a fin</h2>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        <section class="copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </section>
    </footer>
</body>
</html>