<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="stylesheet" href="ccs/normalize.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="ccs/registro.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header-top-bar">
            <div><img src="/img/images/logo-mercado-liebre.svg" width="100%" class="logo"></div>
            <h2 class="copy-header"><i class="fa-sharp fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de crédito
            </h2>
                <div class="buscar">
                    <input type="text" placeholder="Buscar productos, marcas">
                    <div class ="btn">
                        <i class="fa-solid fa-magnifying-glass"></i>
                </div>
        </nav>   
        
        <nav class="main-navbar">
                <ul class="left-navbar">
                    <li>
                       <a href="#">Ofertas</a></li>
                    <li>
                        <a href="#">Tiendas Oficiales</a></li>
                    <li>
                        <a href="#">Vender</a></li>
                    <li>
                        <a href="#">Ayuda</a></li>
                </ul>
                <ul class="right-navbar">
                    <li>
                        <a href="registro.html"></a></li>Crea tu cuenta <i class="fa-solid fa-address-card"></i>
                    <li>
                        <a href="#"></a></li>Ingresá <i class="fa-solid fa-right-to-bracket"></i>
                    <li>
                        <a href="#"></a></li>Mis compras <i class="fa-solid fa-basket-shopping"></i>
                </ul>
            </nav>
            <a href="#" class="hamburguer-button">
                <i class="fas fa-bars"></i>
            </a>

    </header>    
    <main>
    </nav>
    <h1>Crea tu cuenta</h1>
    <section class="capturaDatos">
        <form action= "/registro/save" method="post" enctype="multipart/form-data">
            <div>
                <label for="nombre">Nombre y Apellido</label>
                <br>
                <input type="text" name="nombre" id="nombre" placeholder="Indique su nombre y apellido" required>
            </div>
            <div>
                <label for="usuario">Usuari@</label>
                <br>
                <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuari@" required>
            </div>
            <div>
                <label for="email">Email</label>
                <br>
                <input type="text" name="email" id="email" placeholder="Ejemplo @gmail.com" required>
            </div>
            <div>
                <label for="fechaDeNacimiento">Fecha de nacimiento</label>
                <br>
                <input type="date" name="fechaDeNacimiento" id="fechaDeNacimiento" min="1900-01-01" required>
            </div>
            <div>
                <label for="domicilio">Domicilio</label>
                <br>
                <input type="text" name="domicilio" id="domicilio" placeholder="Indique su domicilio" required>
            </div>
            <div>
                <label for="intereses">Categorías de interés (puede elegir más de una)</label>
                <br>
                <input type="checkbox" name="intereses" value="Electro">
                <input type="checkbox" name="intereses" value="Moda">
                <input type="checkbox" name="intereses" value="Hogar">
                <input type="checkbox" name="intereses" value="Juguetería">
                <input type="checkbox" name="intereses" value="Vida sana">
            </div>
            <div>
                <label for="imagenPerfil">Imagen de perfil</label>
                <br>
                <input type="file" name="avatar" id="avatar" placeholder="Foto de usuario" required>
            </div>
            <div>
                <label for="password">Contraseña</label>
                <br>
                <input type="password" name="password" id="password" placeholder="Escribir contraseña" required>
            </div>
            <div>
                <label for="passwordConfirm">Confirmar contraseña</label>
                <br>
                <input type="password" name="passwordConfirm" id="passwordConfirm" placeholder="Escribir contraseña" required>
            </div>
        </form>
    </section>
</div>
    </main>
</body>    
